<!DOCTYPE html>
<html lang="ru-ru">
{% load staticfiles %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|PT+Sans+Narrow:400,700|Russo+One&subset=latin,cyrillic-ext,latin-ext,cyrillic'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=1200">

    <title>Stamps 312</title>
</head>
<body class="editor_false">

{% block content %}

{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/underscore-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/my_script.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $('body').on('submit', 'form[action="handler.php"]', function (event) {

            //$('form[action="handler.php"]').submit(function (event) {
            event.preventDefault();

//					var check = 1;
//					$(this).find('[""]')


            var this_form = $(this);
            if (!$(this).children("input[name=project_id]").length)
                $(this).prepend('<input type="hidden" name="project_id" value="' + window.tobiz.project_id + '">');
            if (!$(this).children("input[name=page_id]").length)
                $(this).prepend('<input type="hidden" name="page_id" value="' + window.tobiz.rep_id + '">');
            if (!$(this).children("input[name=referrer]").length)
                $(this).prepend('<input type="hidden" name="referrer" value="' + document.referrer + '">');
            if (!$(this).children("input[name=user_id]").length)
                $(this).prepend('<input type="hidden" name="user_id" value="' + window.tobiz.user_id + '">');

            if ($(this).find("[data-action]").size()) {
                console.log(123);
                $(this).prepend('<input type="hidden" name="action" value="' + $(this).find("[data-action]").data('action') + '">');
                $(this).prepend('<input type="hidden" name="amount" value="' + $(this).find("[data-action]").data('amount') + '">');
                $(this).prepend('<input type="hidden" name="url" value="' + $(this).find("[data-action]").data('url') + '">');
            } else {
                console.log('not found');
            }
            var formData = new FormData($(this)[0]);
            var this_block = $(this).closest('.section');
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "/handler.php",
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false
            }).done(function (data) {
                if (data.status == 'OK') {
                    alert(data.msg);
                    this_form.each(function () {
                        $(this)[0].reset();
                    })
                    $('.popup_form').hide();
                }
                if (data.status == 'ERROR') {
                    alert(data.msg);
                }
                if (data.status == 'JC') {
                    $('body').append(data.form);
                    $('#jc_form').submit();
                    this_form.each(function () {
                        $(this)[0].reset();
                    })
                }
                if (data.status == 'SR') {
                    $('body').append(data.form);
                    $('#sr_form').submit();
                    this_form.each(function () {
                        $(this)[0].reset();
                    })
                }
                if (data.status == 'GR') {
                    $('body').append(data.form);
                    $('#gr_form').submit();
                    this_form.each(function () {
                        $(this)[0].reset();
                    })
                }
                if (data.status == 'RK') {
                    this_form.each(function () {
                        $(this)[0].reset();
                    })
                    window.location.href = data.url;
                }
                if (data.status == 'redirect') {
                    this_form.each(function () {
                        $(this)[0].reset();
                    })


                    window.location.href = data.url;
                }
                if (data.status == 'thanks') {
                    this_block.find('.popup_thanks').show();
                    this_form.each(function () {
                        $(this)[0].reset();
                    })
                    $('.popup_form').hide();
                }
                if (data.status == 'thanks_order_complete') {
                    this_block.find('.popup_thanks').show();
                    this_form.each(function () {
                        $(this)[0].reset();
                    })
                    window.basket.clean();
                    window.basket.hideForm();
                    window.basket.renderForm();
                    window.basket.renderBtn();
                    window.basket.hideBtn();
                    alert('Спасибо ваш заказ успешно оформлен!');
                    $('.popup_form').hide();
                }
            }).error(function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError)
            });
        })
    })
</script>
</body>
</html>